.card {
  border: 1px solid black;
  padding: 20px;
  background-color: #c5ffbe;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
}

.title {
  font-weight: 600;
}

.poster {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
